:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 480px;
  height: 100%;
}

*{
  box-sizing: border-box;
}